/* Tooltip styling based on http://cssdeck.com/labs/pure-css-tooltip-with-arrow */

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: 8px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    display: block;
    left: 16px;
    padding: 5px 8px;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    z-index: 98;
    max-width: 100px;
}

.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.85) transparent;
    border-width: 5px 5px 0 5px;
    bottom: 21px;
    content: "";
    display: block;
    left: 32px;
    position: absolute;
    z-index: 99;
}
